@media screen and (min-device-width : 1200px) {
    *{
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        display: flex;
        background-color: darkblue;
    }
    
    /* ======================================================================================= 
    ====================================== MENU LATERAL ======================================
    ========================================================================================== */
    .sidebar{
        position: absolute;
        width: 220px;
        height: 100%;
        left: 0px;
    }
    
    /* ======================================================================================= 
    ===============================  CAMPO DE USUARIO  ======================================= 
    ========================================================================================== */
    .perfil{
        display: flex;
        background-color: darkblue;
    }
    .logo img{
        border-radius: 50%;
        padding: 5px;
    }
    .usuario{
        padding: 5px;
        background-color: darkblue;
        border: none;
    }
    .usuario h1{
        padding-left: 10px;
        padding-top: 10px;
        color: white;
        text-shadow: 3px 3px 5px black;
        font-size: 20px;
    }
    .usuario a{
        text-decoration: none;
        font-size: 15px;
        color: darkgrey;
        text-shadow: 3px 3px 5px black;
        padding-left: 10px;
    }
    
    /* ============================================================================================== 
    ====================================   ICONES   =================================================
    ================================================================================================= */
    .icones{
        display: flex;
        justify-content: space-around;
        color: white;
        font-size: 18px;
        text-shadow: 3px 3px 5px black;
        margin-top: 20px;
    }
    
    /* ================================================================================================== 
    ====================================== CAMPO DE BUSCA ===============================================
    ===================================================================================================== */
    .pesquisa{
        margin-left: 10px;
    }
    .pesquisa{
        border: 1px solid white;
        height: 35px;
        margin: 30px 15px;
    }
    #barra{
        height: 25px;
        width: 150px;
        margin: 5px;
        color: white;
        border-style: none;
        background-color: darkblue;
    }
    #barra::placeholder{
        padding-left: 10px;
        color: white;
    }
    .pesquisa i{
        color: white;
        font-size: 15px;
    }
    
    /* ==============================================================================================
    =======================================   SUB-MENUS   ===========================================
    ================================================================================================= */
    nav ul{
        background-color: darkblue;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    nav ul li{
        line-height: 45px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    nav ul li:last-child{
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    nav ul li a{
        position: relative;
        color: white;
        text-shadow: 3px 3px 5px black;
        text-decoration: none;
        font-size: 16px;
        padding-left: 20px;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
    }
    nav ul li.active a{
        color:  lime;
        background: #1e1e1e;
        border-left-color: lime;
    }
    nav ul ul{
        position: static;
        display: none;
    }
    nav ul .mostre-cad.show{
        display: block;
    }
    nav ul .mostre-stock.show1{
        display: block;
    }
    nav ul .mostre-vendas.show2{
        display: block;
    }
    nav ul .mostre-financeiro.show3{
        display: block;
    }
    nav ul .mostre-relatorios.show4{
        display: block;
    }
    nav ul .mostre-notas.show5{
        display: block;
    }
    nav ul .mostre-lojas.show6{
        display: block;
    }
    nav ul .mostre-contratos.show7{
        display: block;
    }
    nav ul .mostre-atendimentos.show8{
        display: block;
    }
    nav ul .mostre-agenda.show9{
        display: block;
    }
    nav ul .mostre-funcionarios.show10{
        display: block;
    }
    nav ul ul li{
        line-height: 42px;
        border-bottom: none;
    }
    nav ul ul li a{
        font-size: 17px;
        color: #e6e6e6;
        padding-left: 45px;
    }
    nav ul li.active ul li a{
        color:  #e6e6e6;
        background: #1e1e1e;
        border-left-color: lime;
    }
    nav ul ul li a:hover{
        color: lime!important;
        background-color: #1e1e1e!important;
    }
    nav ul li a span{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: transform 0.4s;
    }
    nav ul li a span.rotate{
        transform: translateY(-50%) rotate(-180deg); 
    }
    nav ul li a i{
        padding-right: 25px;
        text-shadow: 3px 3px 5px black;
        font-size: x-large;
    }
    
    /* =========================================================================================================== 
    ==================================== PÁGINA TRANSERENCIA============================================== 
    ============================================================================================================== */
    #pagina-visualizacao{
        background-color: white;
        height: 100%;
        width: 100%;
        margin: 10px 10px 10px 220px;
        border-radius: 30px;
    }
    
    /* ========================================================================================================== 
    ================================================= CABEÇALHO ================================================= 
    ============================================================================================================= */
    #cabecalho{
        height: 60px;
        background-color: rgb(159, 187, 233);
        border-radius: 30px 30px 0px 0px;
        border: 5px double #e6e6e6;
        display: flex;
    }
    #cabecalho h1{
        margin: 10px 10px 0px 10px;
        padding-bottom: 0px;
        color: white;
        font-size: 25px;
        text-shadow: 3px 3px 5px darkblue;
    }
    
    /* ===================================================================================================               
    ============================================ CONTAINER BUSCAR ========================================
    ====================================================================================================== */
    #buscar{
        border: 2px solid darkblue;
        margin: 10px 10px;
        border-radius: 10px;
        background-color: rgb(159, 187, 233);
    }
    .cab-titulo{
        height: 30px;
        padding: 5px;
        display: flex;
        background-color: darkblue;
        color: white;
        font-size: 13px;
        border-radius: 5px 5px 0px 0px;
        text-shadow: 3px 3px 5px black;
    }
    .flex{
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .situ{
        width: 160px;
        font-size: 12px;
    }
    #pagina-visualizacao #buscar #btn-buscar{
        display: flex;
        justify-content: center;
    }
    
    #buscar input{
        height: 30px;
        border: 1px solid darkblue;
        border-radius: 5px;
        margin: 3px 10px 3px 0px;
    }
    #buscar select{
        height: 30px;
        border: 1px solid darkblue;
        border-radius: 5px;
        margin: 3px 10px 3px 0px;
    }
    #buscar button{
        height: 30px;
        width: 100px;
        background-color: darkblue;
        color: white;
        margin-bottom: 5px;
    }
    .valor, .qtnd{
        width: 160px;
    }
    
    /* =================================================================================================     
    ==============================================  AÇÕES ==============================================            
    ==================================================================================================== */
    #acoes{
        margin: 10px 0px;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        background-color: rgb(159, 187, 233);
    }
    #acoes button{
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        color: #e6e6e6;
        text-shadow: 3px 3px 5px #1e1e1e;
        background-color: rgb(159, 187, 233);
    }
    
    /*================================================================================================= 
    ========================================  TABELA   ================================================ 
    ===================================================================================================*/
    #transferencia{
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
    table, caption{
        height: 100%;
        width: 100%;
        background-color: rgb(159, 187, 233);
        color: white;
    }
    th, td{
        border: 2px solid #e6e6e6;
        padding: 5px;
    }
    thead{
        background-color: darkblue;
        
    }
    #transferencia table button{
        margin: 5px 10px;
        background-color: rgb(159, 187, 233);
    }
    #pagina-visualizacao #btn-prox {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    #pagina-visualizacao #btn-prox button{
        height: 30px;
        width: 100px;
        background-color: darkblue;
        color: white;
        margin-bottom: 5px;
    }
    
/* =========================================================================================================== 
    ==================================== PÁGINA NOVA TRANSFERENCIA============================================== 
    ============================================================================================================== */
    #pagina-formulario{
        display: none;
        background-color: white;
        height: 100%;
        width: 100%;
        margin: 10px 10px 10px 220px;
        border-radius: 30px;
    }
    /* ========================================================================================================== 
    ================================================= CABEÇALHO =================================================
    ============================================================================================================= */
    #pagina-formulario #cabecalho{
        height: 60px;
        background-color: rgb(159, 187, 233);
        border-radius: 30px 30px 0px 0px;
        border: 5px double #e6e6e6;
        display: flex;
    }
    #pagina-formulario #cabecalho h1{
        margin: 10px 10px 0px 10px;
        padding-bottom: 0px;
        color: white;
        font-size: 25px;
        text-shadow: 3px 3px 5px darkblue;
    }
    #pagina-formulario #pesquisa button{
        margin: 5px;
        padding: 5px;
        color: #e6e6e6;
        text-shadow: 3px 3px 5px #e6e6e6;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        background-color: darkblue;
    }

    /* ============================================================================================================= 
    ================================================ TITULOS ======================================================= 
    ============================================================================================================== */
    #pagina-formulario .cab-titulo{
        height: 30px;
        padding: 5px;
        display: flex;
        background-color: darkblue;
        color: white;
        font-size: 15px;
        border-radius: 5px 5px 0px 0px;
        text-shadow: 3px 3px 5px black;
    }
    #pagina-formulario .cab-titulo h1{
        margin-right: 770px;
    }

    /* ======================================================================================================== 
    ========================================== CONTAINERS ===================================================== 
    =========================================================================================================== */
    #pagina-formulario .containers{
        border: 2px solid darkblue;
        margin: 10px 10px;
        border-radius: 10px;
        background-color: rgb(159, 187, 233);
    }
    #pagina-formulario .containers .flex1{
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
    }
    #pagina-formulario #container-5 input[type="file"]{
        width: 100%;
        margin: 10px;
    }
    #pagina-formulario #div-cadastrar #div-cancelar{
        display: flex;
        justify-content: space-around;
    }

    /* ========================================================================================================== 
    ================================================== INPUTS =================================================== 
    ============================================================================================================= */
    #pagina-formulario input{
        height: 30px;
        border: 1px solid darkblue;
        border-radius: 5px;
        margin: 3px 10px 3px 0px;
    }
    #pagina-formulario select{
        height: 30px;
        border: 1px solid darkblue;
        border-radius: 5px;
        margin: 3px 10px 3px 0px;
    }
    #pagina-formulario #div-cadastrar button{
        height: 30px;
        width: 100px;
        background-color: darkblue;
        color: white;
        margin-bottom: 5px;
    }
    #div-cancelar button{
        margin-left: 20px;
        height: 30px;
        width: 100px;
        background-color: #9FBBE9;
        color: white;
        margin-bottom: 5px;
    }
    .flex1{
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

