@media screen and (min-device-width : 1200px) {
    *{
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        display: flex;
        background-color: darkblue;
    }

    /* ============================================================================================================= =================================== MENU LATERAL =============================================================== ================================================================================================================*/
    .sidebar{
        position: absolute;
        width: 220px;
        height: 100%;
        left: 0px;
    }

    /* ========================================================================================================== ============================================== CAMPO DE USUARIO =============================================
    ============================================================================================================= */
    .perfil{
        display: flex;
        background-color: darkblue;
    }
    .perfil .logo img{
        border-radius: 50%;
        padding: 5px;
    }
    .perfil .usuario{
        padding: 5px;
        background-color: darkblue;
        border: none;
    }
    .sidebar .usuario h1{
        padding: 10px 0px;
        color: white;
        text-shadow: 3px 3px 5px black;
        font-size: 20px;
    }
    .sidebar .usuario a{
        text-decoration: none;
        font-size: 15px;
        color: darkgrey;
        text-shadow: 3px 3px 5px black;
        padding-left: 10px;
    }

    /* ==================================================================================================== =================================================== ICONES ============================================ ======================================================================================================= */
    .icones{
        display: flex;
        justify-content: space-around;
        color: white;
        font-size: 18px;
        text-shadow: 3px 3px 5px black;
        margin-top: 20px;
    }

    /*========================================================================================================
    ==================================== CAMPO DE BUSCA ====================================================== ========================================================================================================== */
    .barra-de-pesquisa .pesquisa{
        margin-left: 10px;
    }
    .area-de-pesquisa .pesquisa{
        border: 1px solid white;
        height: 35px;
        margin: 30px 15px;
    }
    #barra{
        height: 25px;
        width: 150px;
        margin: 5px;
        color: white;
        border-style: none;
        background-color: darkblue;
    }
    #barra::placeholder{
        padding-left: 10px;
        color: white;
    }
    .pesquisa i{
        color: white;
        font-size: 15px;
    }

    /* ========================================================================================================= ================================================== SUB-MENUS =============================================== ============================================================================================================ */
    nav ul{
        background-color: darkblue;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    nav ul li{
        line-height: 45px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    nav ul li:last-child{
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    nav ul li a{
        position: relative;
        color: white;
        text-shadow: 3px 3px 5px black;
        text-decoration: none;
        font-size: 16px;
        padding-left: 20px;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
    }
    nav ul li.active a{
        color:  lime;
        background: #1e1e1e;
        border-left-color: lime;
    }
    nav ul ul{
        position: static;
        display: none;
    }
    nav ul .mostre-cad.show{
        display: block;
    }
    nav ul .mostre-stock.show1{
        display: block;
    }
    nav ul .mostre-vendas.show2{
        display: block;
    }
    nav ul .mostre-financeiro.show3{
        display: block;
    }
    nav ul .mostre-relatorios.show4{
        display: block;
    }
    nav ul .mostre-notas.show5{
        display: block;
    }
    nav ul .mostre-lojas.show6{
        display: block;
    }
    nav ul .mostre-contratos.show7{
        display: block;
    }
    nav ul .mostre-atendimentos.show8{
        display: block;
    }
    nav ul .mostre-agenda.show9{
        display: block;
    }
    nav ul .mostre-funcionarios.show10{
        display: block;
    }
    nav ul ul li{
        line-height: 42px;
        border-bottom: none;
    }
    nav ul ul li a{
        font-size: 17px;
        color: #e6e6e6;
        padding-left: 45px;
    }
    nav ul li.active ul li a{
        color:  #e6e6e6;
        background: #1e1e1e;
        border-left-color: lime;
    }
    nav ul ul li a:hover{
        color: lime!important;
        background-color: #1e1e1e!important;
    }
    nav ul li a span{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: transform 0.4s;
    }
    nav ul li a span.rotate{
        transform: translateY(-50%) rotate(-180deg); 
    }
    nav ul li a i{
        padding-right: 25px;
        text-shadow: 3px 3px 5px black;
        font-size: x-large;
    }

    /* =========================================================================================================== ======================================================== PÁGINA  =========================================       ============================================================================================================== */
    
    /* CARDS */
    .cards{
        display: flex;
        width: 99%;
        justify-content: space-around;
    }
    .cards .card{
        border: 3px solid black;
        width: 300px;
        height: 200px;
        margin: 10px 0px 0px 10px;
        color: white;
        text-shadow: 3px 3px 5px black;
        border-radius: 30px;
        background-color: darkblue;
    } 
    .cards .card:hover{
        margin: 0px 10px 10px 0px;
        box-shadow: 5px 5px 5px black;
    }
    .cards .card .flex{
        display: flex;
    }
    .cards .card .flex .texto{
        margin-top: 20px;
        margin-left: 40px;
        color: lime;
        font-size: 18px;
        text-align: center;
    
    }
    .cards .card .valor{
        border-top: 3px solid white;
        padding-top: 20px;
        height: 80px;
        font-size: 30px;
        text-align: center;
    }
    .cards .card .details{
        padding-left: 180px;
        margin-top: 5px;
        font-size: 15px;
    }
    
    
    /* GRÁFICOS */
    .sessao1{
        display: flex;
        margin-top: 20px;
        height: 600px;
    }
    .sessao1 .grafico1{
        height: 95%;
        width: 50%;
        margin: 10px;
        border: 5px solid darkblue;
        border-radius: 30px;
        background-color: white;
    }
    .sessao1 .grafico1 .ttl{
        color: white;
        font-size: 20px;
        text-align: center;
        text-shadow: 3px 3px 5px black;
        border-radius: 30px 30px 0px 0px;
        background-color: darkblue;
    }
    .sessao1 .grafico2{
        height: 95%;
        width: 50%;
        margin: 10px;
        border: 5px solid darkblue;
        border-radius: 30px;
        background-color: white;
    }
    .sessao1 .grafico2 .ttl{
        color: white;
        font-size: 20px;
        text-align: center;
        text-shadow: 3px 3px 5px black;
        border-radius: 30px 30px 0px 0px;
        background-color: darkblue;
    }
}

#pagina{

    background-color: #EFF2F5;
    width: 82%;
    height: 100%;
    margin: 10px 10px 10px 220px;
    border-radius: 30px;
    box-sizing: border-box;
    padding-bottom: 8%;
    display: grid;
}

#pagina #cabecalho{
    height: 60px;
    background-color: rgb(159, 187, 233);
    border: 5px double #e6e6e6;
    border-radius: 30px 30px 0px 0px;
    display: flex;
}
#pagina #cabecalho h2{
    margin: 10px 10px 0px 10px;
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 5px darkblue;
}


/*CSS Cliente + Fornecedor*/
#form-pessoa-fisica, #form-pessoa-juridica, #form-fornecedores{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}
    
#linha1{
    margin-bottom: 50px;
}

.linha2, .linha3, .linha4, .linha5, .linha6, .linha7{
    margin-bottom: 15px;
}


.salvar{
    /* position: relative;*/ 
    background-color: #28A745;
    border: none;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 4px;
}

.salvar:hover{
    transform: scale(1.2);
    border-style: unset;
}

#tipo-pessoa{
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 40px;
}

#form-pessoa-juridica{
    display: none;
}

#pagina-fornecedores #entregas{
    width: 400px;
    height: 150px;
}

#pagina-cliente, #pagina-fornecedores label{
    font-weight: bold;
}

input[type='checkbox']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    visibility: visible;
}

input[type='checkbox']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 1px;
    top: -5px;
    left: 0px;
    position: relative;
    background-color: #7749F8;
    content: '';
    display: inline-block;
    visibility: visible;
}
input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -5.5px;
    left: 0px;
    position: relative;
    background-color: #7749F8;
    content: '';
    display: inline-block;
    visibility: visible;
}





